@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "gotham Book";
  src: url(./assets/GothamSSm-Book_Web.woff2);
}

:root {
  --swiper-theme-color: #000000 !important;
}

.App {
}

* {
  font-family: "Gotham Book", sans-serif;
}

.swiper-container {
  position: sticky;
  top: 60px;
  width: 75%;
  height: 90vh;
}

.swiper-button-next {
  margin: 50px;
}

.swiper-button-prev {
  margin: 50px;
}
